{% extends 'layouts.html' %}
{% block title %}
    <title>Sign Up</title>
{% endblock %}
{% block content %}

    <!-- ======== main-wrapper start =========== -->
    <main class="main">

      <!-- ========== signin-section start ========== -->
      <section class="signin-section"  style="margin-top: 65px;">
        <div class="container">
          

          <div class="row g-0 auth-row">
            <div class="col-lg-6">
              <div class="auth-cover-wrapper bg-primary-100">
                <div class="auth-cover">
                  <div class="title text-center">
                    <h1 class="text-primary mb-10">Get Started</h1>
                    <p class="text-medium">
                      Start creating the best possible user experience
                      <br class="d-sm-block" />
                      for you customers.
                    </p>
                  </div>
                  <div class="cover-image">
                    <img src="{{ url_for('static', filename='img/auth/signin-image.svg') }}" alt="" />
                  </div>
                  <div class="shape-image">
                    <img src="{{ url_for('static', filename='img/auth/shape.svg') }}" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6">
              <div class="signup-wrapper">
                <div class="form-wrapper">
                  <form action="{{ url_for('register') }}" method="POST">
                    {{ form.hidden_tag() }}        
                    <div class="row">
                      <div class="col-12">
                        <div class="input-style-1">
                          {{ form.username(class="form-control") }}
                        </div>
                      </div>
                      <!-- end col -->
                      <div class="col-12">
                        <div class="input-style-1">
                          {{ form.email(class="form-control") }}
                        </div>
                      </div>
                      <!-- end col -->
                      <div class="col-12">
                        <div class="input-style-1">
                          {{ form.password(class="form-control") }}
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="input-style-1">
                          {{ form.confirm_password(class="form-control") }}
                        </div>
                      </div>
                      <!-- end col -->
                      <div class="col-12">
                        <div class="button-group d-flex justify-content-center flex-wrap">
                          <button class="main-btn primary-btn btn-hover w-100 text-center">
                            Sign Up
                          </button>
                        </div>
                      </div>
                    </div>
                    <!-- end row -->
                  </form>
                  <div class="singup-option pt-40">
                    <p class="text-sm text-medium text-center text-gray">
                      Easy Sign Up With
                    </p>
                    <div class="button-group pt-40 pb-40 d-flex justify-content-center flex-wrap">
                      <button class="main-btn primary-btn-outline m-2">
                        <i class="lni lni-facebook-fill mr-10"></i>
                        Facebook
                      </button>
                      <button class="main-btn danger-btn-outline m-2">
                        <i class="lni lni-google mr-10"></i>
                        Google
                      </button>
                    </div>
                    <p class="text-sm text-medium text-dark text-center">
                      Already have an account? <a href="login">Sign In</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
      </section>
      <!-- ========== signin-section end ========== -->


    </main>
 {% endblock %}